{{ include "unit.tmpl" "name=services.target" }}
{{ include "unit.tmpl" "name=early-services.target" }}
{{ include "agents.tmpl" (printf "skip=%s" (var "skip")) }}
- name: services.target
  command: start
